body
{
    background-color: rgb(25, 25, 25);
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif

}
.title
{
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
}
.col {
    top:0;
    width:15em;
    display:inline-block;
    margin:1em;
}
.col h1 {
    margin:0;
    font-weight:lighter;
    font-size:1.5em;
    text-align: center;
    width:100%;
    background:#666;
    padding:0.5em 0;
}
.col ul {
    padding:0;
    margin:0;
    width:100%;
    background: #555;
}
.col ul > li {
    list-style-type: none;
    margin:0;
    padding:1.5em;
    font-size:1em;
    transition: background .15s ease-in;   
    cursor: pointer;
}
.col ul > li:hover {
    transition: background .15s ease-in;   
    background:#333;
}
.col #close {
    cursor: pointer;
    float:right;
}
.col #close:hover {
    text-decoration: underline;

}
.col #message { 
    
}

#todoInput {
    outline:none;
    color: white;
    border:none;
    background:#666;
    padding:1em;
    font-size:1.25em;
    transition: background .15s ease;
    margin:1em;
    width:25em;
}
#todoInput:focus {
    background:#888;
    transition: background .15s ease;

}
#todoAdd{
    height: 65px;
    width: 75px;
    outline: none;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: solid;
    cursor: pointer;
}
#todoAdd:hover{
    transition: background-color 0.2s,color 0.2s;
    background-color: rgb(150, 0, 0);
}